#julia
*.jl.*.cov
*.jl.cov
*.jl.mem
julia/SyncB/docs/Manifest.toml
julia/SyncB/ddocs/build/

#rust
rust/target/
.tags
Cargo.lock
sync.lock
.DS_Store
Thumbs.db
**/*.rs.bk

env.sh
.env
.DS_Store
.idea
*.log
tmp/


